@charset 'utf-8';

/* VARIABLES */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .track {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.track:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

audio {

    position: fixed;
    /*position: absolute;*/
    z-index: 12412412;
    width: calc(100%);
    /*left:300px;*/
    bottom:0em;
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* -- font-family: 'Montserrat'; */
    --editor-font-family: 'Source Code Pro', monospace;
    --ui-base-color: #2f302b;
    --ui-component-color: #2e3033;
    --ui-element-color: #3a3c40;
    --ui-active-color: #171e22;
    --ui-highlight-color: #B3E5FC;
    --ui-component-text-color: #eefafa;
    --ui-link-text-color: #e1eeee;
    --ui-subtext-color: #c0c6c6;
    --ui-border-color: #999ca0;
    --modal-shadow: 0 0 0 5px rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.25);

    /* Z-INDEX SCALE */
    --z-editor: 100;
    --z-shader-ghost: 199;
    --z-shader: 200;
    --z-divider: 250;
    --z-menu: 300;
    --z-helpers: 1000;
}

#music-player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#track-controls {

  display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  /*justify-content: center;*/
  /* for vertical aligning */
  align-items: center;

    /*position: absolute;
    display: inline-block;
    width: 12em;
    height: 2em;*/
}

#track-buttons {
    display: inline-block;
    height: auto;
}

#track-times {
    color: white;
    display: inline-block;
    height: auto;
}

#glsl_editor {
    height: 51.5em;
    overflow-y: scroll;
}

html, body {
  height: 100%;
  margin: 0;
}


/* Native Codemirror */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/dialog/dialog.css';
@import 'codemirror/addon/fold/foldgutter.css';
@import 'codemirror/addon/hint/show-hint.css';

/* Themes */
@import 'codemirror/theme/ambiance.css';
@import 'codemirror/theme/base16-dark.css';
@import 'codemirror/theme/base16-light.css';
@import 'codemirror/theme/dracula.css';
@import 'codemirror/theme/eclipse.css';
@import 'codemirror/theme/elegant.css';
@import 'codemirror/theme/icecoder.css';
@import 'codemirror/theme/lesser-dark.css';
@import 'codemirror/theme/material.css';
@import 'codemirror/theme/mdn-like.css';
@import 'codemirror/theme/midnight.css';
@import 'codemirror/theme/monokai.css';
@import 'codemirror/theme/neat.css';
@import 'codemirror/theme/neo.css';
@import 'codemirror/theme/pastel-on-dark.css';
@import 'codemirror/theme/railscasts.css';
@import 'codemirror/theme/seti.css';
@import 'codemirror/theme/solarized.css';
@import 'codemirror/theme/tomorrow-night-bright.css';
@import 'codemirror/theme/tomorrow-night-eighties.css';
@import 'codemirror/theme/ttcn.css';
@import 'codemirror/theme/yeti.css';

/* Elements */
@import '_menu';
@import '_panel';
@import '_editor';
@import '_shader';

@import '_pickers';
@import '_modals';
@import '_errors';
@import '_debugger';
@import '_icons';
